In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.DataFrame([
        ['S', 100, 'cola'],
        ['M', 150, 'tea'],
        ['L', 200, 'coffee']])
df.columns = ['size', 'price', 'label']
df

  size  price   label
0    S    100    cola
1    M    150     tea
2    L    200  coffee

In [3]:
df_dummy = pd.get_dummies(df['label'], drop_first = True) # Avoid multi-collinearity
df0 = pd.concat([df.drop(['label'],axis=1), df_dummy], axis=1)
df0

  size  price  cola  tea
0    S    100     1    0
1    M    150     0    1
2    L    200     0    0

In [4]:
df.loc[1, 'label'] = np.nan
df

  size  price   label
0    S    100    cola
1    M    150     NaN
2    L    200  coffee

In [5]:
df_dummy = pd.get_dummies(df['label'])
df2 = pd.concat([df.drop(['label'],axis=1), df_dummy], axis=1)
df2

  size  price  coffee  cola
0    S    100       0     1
1    M    150       0     0
2    L    200       1     0

In [6]:
# If the 'label' has NaN, then drop_first may cause a problem. 
df_dummy = pd.get_dummies(df['label'], drop_first = True)
df3 = pd.concat([df.drop(['label'],axis=1), df_dummy], axis=1)
df3

  size  price  cola
0    S    100     1
1    M    150     0
2    L    200     0

In [4]:
address = '123 street st'

def convert(x):
    words = x.split()
    if len(words) >= 3:
        return words[1].lower()
    else:
        return 'other'
    
ret = convert(address)
ret

'street'